.App {
  text-align: center;
}

.App-header {
  background-color: #b9b9b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-nav {
  float: right;
}
.navbar-light {
  background-color: black;
}

.navbar-expand-lg .navbar-collapse {
  display: block !important;
}

.navbar-item {
  margin: 0px 20px;
}
.nav-link {
  color: white !important;
  font-weight: bold;
}
.form-header {
  margin-bottom: 25px;
}


